{% extends 'YDCoreBundle:Core:layout.html.twig' %}

{% block title %}Modifier un projet{% endblock %}

{% block body %}
  <h2>Modifier un projet</h2>

  {{ include("YDPortfolioBundle:Portfolio:form.html.twig") }}

  <p class="alert alert-warning col-md-6 col-md-offset-3">Vous éditez un projet déjà existant, gare à ne pas changer l'esprit général</p>

  <p class="col-md-6 col-md-offset-3">
    <a href="{{ path('yd_portfolio_work', {'slug': work.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au projet
    </a>
  </p>
{% endblock %}
