{% extends "YDCoreBundle:Core:layout.html.twig" %}

{% block title %}Portfolio{% endblock %}

{% block body %}
  <div class="row">
    {% for work in listWorks %}
      <div class="col-md-3 col-sm-6">
        <a href="work/{{ work.slug}}" class="work">
            <img alt="" src="{{ asset((work.image.webPath) | imagine_filter('index_thumb')) }}">
            <span class="title">{{ work.title }}</span>
            <span class="caption">{{ work.category }}</span>
            <div class="overlay"></div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
