{% extends "YDCoreBundle:Core:layout.html.twig" %}

{% block title %}Portfolio{% endblock %}

{% block body %}
  <div class="row">
    {% for work in listWorks %}
      <div class="col-md-3 col-sm-6">
        <a href="work/{{ work.slug}}">
          <div class="work" style="height: 200px; overflow: hidden; position: relative;">
            <img alt="" src="{{ asset(work.image.webPath) }}">
            <span class=""></span>
            <span class=""></span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% endblock %}
